* {
	margin: 0;
	padding: 0;
	font-family: '微软雅黑';
}

ul, li, dl, dt, dd, form {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.bg_fff {
	font-size: 12px;
    background-repeat: no-repeat;
}
.swiper-container {
	width: 100%;
}

.swiper-slide {
	float: left;
	box-sizing: content-box;
	margin-left:-32px;
}

.swiper-wrapper {
	width:100%;
	height: auto !important;
}

.swiper-slide {
	height: auto !important;
}

.swiper-container .swiper-wrapper .swiper-slide img {
	width: 100%;
	display: block;
}

.swiper-pagination-bullet {
	
	width: 12px !important;
	height: 12px !important;
}

.swiper-pagination-bullet-active {
	background: #fff !important;
}

.swiper-pagination-bullet {
	opacity: 0.7 !important;
}

.news-wrap-c .news-wrap-box .news-wrap-ctr .news-wrap-ky{
	width:1000px;
	height:40px;
	background: url("../images/news_bg.png") left top no-repeat;
	position:absolute;top:255px;
}
.page-bodybox{
	width: 100%;
	height:auto;
	float: left;
	position:relative;
	margin: 0 auto;

}

.page-bodybox .page-bodycenter{
	
	width: 1000px;
	margin: 0 auto;
	background:none;

}
.page-bodybox .page-bodycenter .swiper{
 right:-225px;
}

.page-body {
	width: 100%;
	float: left;
	margin: 0 auto;
	top:100px;
	margin-bottom: 20px;
	background: url(../images/page_body_bg.png) center top no-repeat;
    background-size: 100% 100%;
	 
}

.page-body ul {
	width: 960px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
	height: 45px;
	background: #2a2a2a;
}

.page-body ul li {
	position: relative;
	float: left;
	width: 14.28%;
}

.page-body ul li:before {
	position: absolute;
	top: 0;
	right: 0;
	width: 2px;
	height: 100%;
	content: "";
	background-color: #202020;
	border-left: solid 1px #3D3D3D;
}

.page-body ul li:after {
	width: 12.5%;
	float: left;
	background-color: #202020;
	border-left: solid 1px #3D3D3D;
}

.page-body ul li a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: #ACADB2;
	text-align: center;
	line-height: 43px;
	font-size: 16px;
	font-family: "微软雅黑";
	border-bottom: 2px solid #202020;
}

.page-body ul li a:hover {
	color:#FF4040;
	border-bottom: 2px solid #FCFCFC;
}

.ele-live-main-wrap {
	width: 960px;
	height: 488px;
	float: left;
	overflow: hidden;
	margin-left: 20px;
	border-top: 2px solid #000;
}

.ele-live-main-wrap .ele-live-bbin-wrap {
	width: 75%;
	float: left;
	position: relative;
}

.ele-live-main-wrap .ele-live-bbin-wrap a {
	display: block;
	width: 100%;
	float: left;
}

.ele-live-main-wrap .ele-live-bbin-wrap a img {
	width: 100%;
}

.ele-live-main-wrap .ele-live-bbin-wrap .play {
	width: 142px;
	height: 38px;
	font-family: "微软雅黑", Arial;
	font-size: 16px;
	text-decoration: none;
	line-height: 38px;
	text-align: center;
	position: absolute;
	bottom: 26px;
	right: 24px;
	overflow: hidden;
}

.ele-live-main-wrap .ele-live-bbin-wrap .play #play {
	opacity: 0;
	filter: alpha(opacity=0);
}

.ele-live-main-wrap .ele-live-bbin-wrap .play #play:hover {
	position: absolute;
	top: -38px;
	left: 0;
}

.swiper-container {
	//position: relative;
	float: right;
	width: 24.8%;
}

.livehall-row {
	width: 960px;
	background: #000;
	float: left;
	margin-left: 20px;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

.livehall-row .livehall-playnow {
	width: 24.375%;
	height: 238px;
	float: left;
	position: relative;
	background: red;
	margin-right: 0.5%;
}

.livehall-row .livehall-playnow:last-child {
	margin-right: 0;
}

.livehall-row .livehall-playnow:first-child {
	margin-left: 0.5%;
}

.livehall-row .livehall-playnow a:first-child img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.livehall-row .livehall-playnow a:last-child img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.livehall-row .livehall-playnow a img {
	display: block;
	transition: opacity 1s;
	-moz-transition: opacity 1s;
 /* Firefox 4 */
	-webkit-transition: opacity 1s;
 /* Safari and Chrome */
	-o-transition: opacity 1s;
 /* Opera */
}

.livehall-row .livehall-playnow a {
	display: block;
	float: left;
}

.livehall-row .livehall-playnow:nth-child(n+5) {
	margin-top: 0.5%;
}

.livehall-row .livehall-playnow:nth-child(5) {
	margin-left: 0.5%;
}

.nn:hover {
	opacity: 0;
	filter: alpha(opacity=0)
}

.ele-live-bbin-wrap:hover{
	background: #000;
	opacity: .5;
}

.ele-live-bbin-wrap:hover .play #play{
	opacity: 1;
}
